extends layout

block content
  h2 Abonament
  include selectorParcelesCampanyes
  h3 Introduir
  form(method='post', action='/abonament/')
    label Dia: 
    input(type='date') dia
    label Producte: 
    input producte
    label Quantitat:
    input quantitat
    label Unitats
    select
      option Kg
      option L
      option Ml
      option g
    input(type='submit' value='Afegir')
  #llistaAbonament
    h3 Llista