extends layout

block content
  h2 Administració
  #dadesUsuari
    h3 Dades de l'usuari
    form(method='post', action='/admin/usuari')
      label Nom: 
      input nomUsuari
      label Cognoms:
      input cognomsUsuari
      label E-mail:
      input emailUsuari
      input(type='submit' value='Actualitzar')
  #dadesCampanyes
    h3 Campanyes
    form(method='post', action='/admin/campanya')
      input(type='hidden', name='nomUsuari', value= session.usuari.nomUsuari)
      label Nom: 
      input(type='text', name='nomCampanya') nomCampanya
      label Descripció:
      input(type='text', name='descripcióCampanya') descripcióCampanya
      label Data inici:
      input(type='date', name='dataIniciCampanya') dataIniciCampanya
      label Data fi:
      input(type='date', name='dataFiCampanya') dataFiCampanya
      input(type='submit' value='Afegir')
  #dadesParceles
    h3 Parceles
    form(id='formParcela')
      label Campanya: 
        select(name='nomCampanya')
          if(campanyes)
            each val, index in campanyes
              option= val.nomCampanya
      label Nom: 
      input(type='text', name='nomParcela')  nomParcela
      label Superficie (ha):
      input(type='number', name='superficieParcela') superficieParcela
      label Població:
      input(type='text', name='poblacioParcela') poblacioParcela
    button(id='afegirParcela') Afegir
    if(campanyes)
      ul
        each val, index in campanyes
          li= index + ': ' + val.nomCampanya
          if(val && val.parceles)
            ul
              each subVal, index in val.parceles
                li= index + ': ' + subVal.nomParcela
  #dadesTreballadors
    h3 Treballadors
    form(method='post', action='/admin/treballador')
      label Nom:
      input(type='text', name='nomTreballador')
      input(type='submit' value='Afegir')
  #dadesComptadors
    h3 Comptadors
    form(method='post', action='/admin/comptador')
      label Identificador:
      input(type='text', name='identificadorComptador')
      label Localitzacio
      input(type='text', name='localitzacioComptador')
      input(type='submit' value='Afegir')