extends layout

block content
  h2 Administració
  #dadesUsuari
    h3 Dades de l'usuari
    form(method='post', action='/admin/usuari')
      label Nom: 
      input nomUsuari
      label Cognoms:
      input cognomsUsuari
      label E-mail:
      input emailUsuari
      input(type='submit' value='Actualitzar')
  #dadesCampanyes
    h3 Campanyes
    form(method='post', action='/admin/campanya')
      label Nom: 
      input(type='text', name='nomCampanya') nomCampanya
      label Descripció:
      input(type='text', name='descripcióCampanya') descripcióCampanya
      label Data inici:
      input(type='date', name='dataIniciCampanya') dataIniciCampanya
      label Data fi:
      input(type='date', name='dataFiCampanya') dataFiCampanya
      input(type='submit' value='Afegir')
  #dadesParceles
    h3 Parceles
    form(method='post', action='/admin/parcela')
      label Campanya: 
      if(campanyes)
        select(name='nomCampanya')
          each val, index in campanyes
            option= val.nomCampanya
      label Nom: 
      input(type='text', name='nomParcela')  nomParcela
      label Superficie (ha):
      input(type='number', name='superficieParcela') superficieParcela
      label Població:
      input(type='text', name='poblacioParcela') poblacioParcela
      input(type='submit' value='Afegir')
      if(campanyes)
        ul
          each val, index in campanyes
            li= index + ': ' + val.nomCampanya
            if(val && val.parceles)
              ul
                each subVal, index in val.parceles
                  li= index + ': ' + subVal.nomParcela