extends layout

block content
  h2 Collita
  include selectorParcelesCampanyes
  h3 Introduir
  form(method='post', action='/collita/afegir')
    input(type='hidden' name='nomCampanya' id='hiddenCampanya')
    input(type='hidden' name='nomParcela' id='hiddenParcela')
    input(type='hidden' name='nomUsuari' id='hiddenParcela' value=session.usuari.nomUsuari)
    label Dia: 
    input(type='date' name='dia') dia
    label Kilograms:
    input(type='number' name='kilograms') kilograms
    input(type='submit' value='Afegir')
  #llistaCollita
    form(method='post', action='/collita/llista')
      input(type='hidden' name='nomCampanya' id='hiddenCampanya')
      input(type='hidden' name='nomParcela' id='hiddenParcela')
      input(type='hidden' name='nomUsuari' id='hiddenParcela' value=session.usuari.nomUsuari)
      input(type='submit' value='Llistat')
