extends layout

block content
  h2 Collita
  include selectorParcelesCampanyes
  h3 Introduir
  form(method='post', action='/collita/')
    label Dia: 
    input(type='date') dia
    label Kilograms:
    input kilograms
    input(type='submit' value='Afegir')
  #llistaCollita
    h3 Llista
    button Mostra Llista
