doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  #capcalera
    h1 ExploGEST
    label Usuari
    input nomUsuari
    label Contrasenya
    input contraseya
  block content