doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  #capcalera
    h1 ExploGEST
  form(method='post', action='/validar/')
    label Usuari: 
    input nomUsuari
    label Contrasenya: 
    input contraseya
    input(type='submit' value='Entra')
  #menu
    ul
      li 
        a(href = '/') Inici
      li 
        a(href = '/vademecum') Vademecum
  #resultat
    block content