doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  #capcalera
    h1 exploGEST
  if session.validat
      form(method='post', action='/desconectar/')
        h3 Hola, #{session.usuari.nomUsuari}
        input(type='submit' value='Desconectar')
  else
    form(method='post', action='/validar/')
      label Usuari: 
      input(type='text', name='nomUsuari') nomUsuari
      label Contrasenya: 
      input(type='password', name='contrasenya') contraseya
      input(type='submit' value='Entra')
  #menu
    ul
      li 
        a(href = '/') Inici
      li 
        a(href = '/vademecum') Vademecum
      if session.validat 
        li
          a(href = '/collita') Collites
        li
          a(href = '/sulfat') Sulfats
        li
          a(href = '/abonament') Abonaments
        li 
          a(href = '/admin') Panel Administració
  #resultat
    block content