doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  #capcalera
    h1 ExploGEST
  form(method='post', action='/documents/')
    label Usuari
    input nomUsuari
    label Contrasenya
    input contraseya
    input(type='submit') Entrar
  #menu
    ul
      li 
        a(href = '/') Inici
      li 
        a(href = 'vademecum') Vademecum
  block content