label Campanya:
select(id='selectCampanya')
  if(campanyes)
    each val, index in campanyes
      if(index == selectCampanya )
        option(selected = true, value = val.nomCampanya) #{val.nomCampanya}
      else
        option(value = val.nomCampanya) #{val.nomCampanya}
label Parceles:
  select(id='selectParcela')
    if(campanyes && campanyes[selectCampanya].parceles)
      each val, index in campanyes[selectCampanya].parceles
        option= val.nomParcela